body
{
    align-items:                 center;
    font-family:                 monospace;
    font-size:                   8pt;
    background-color:            rgb(240, 240, 240);
}

button
{
    font-family:                monospace;
    font-weight:                bold;
    color:                      white;
    background-color:           rgb(84, 100, 107);
    padding:                    5px;
    border:                     none;
    height:                     24px;
    line-height:                6px;
    font-size:                  8pt;
}
button:hover
{
    font-weight:                bold;
    color:                      white;
    background-color:           teal;
    cursor:                     pointer;
}

a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked

a:link
{
    color:                      red;
    text-decoration:            none;
}
a:visited
{
    color:                      red;
    text-decoration:            none;
}
a:active
{
    color:                      red;
    text-decoration:            none;
}
a:hover
{
    color:                      white;
    background-color:           black;
    text-decoration:            none;
}

input
{
    font-family:                monospace;
}

.edited
{
    background-color: yellow;
}

.icon
{
    font-size:                  12px;
    color:                      white;
    #padding:                    5px;
    margin-right:               3px;
}

.page
{
    position:                   relative;
    width:                      632px;
    align-self:                 center;
    margin-top:                 0px;
    margin-left:                auto;
    margin-right:               auto;
    margin-bottom:              0px;
    background-color:           white;
    padding:                    10px;
    border:                     1px solid rgb(200, 200, 200);
}

.manf_logo
{
    font-weight:                bold;
    font-size:                  19pt;
    background-color:           rgb(84, 100, 107);
    color:                      white;
    padding:                    2px 5px 5px 5px;
}

.top_nav
{
    position:                   absolute;
    right:                      10px;
    top:                        10px;
}

.invisible
{
    display:                    None;
}


._field_container
{
    color:                      black;
    #background-color:           rgb(210, 216, 217);
    #border:                     1px solid black;
    padding:                    5px; 
    float:                      left;
    margin-left:                10px;
    margin-top:                 0px;
    margin-bottom:              -5px;
}

._key
{
    float:                      left;
    #font-weight:                bold;
    font-size:                  8pt;
    width:                      120px;
    height:                     12px;
    #background-color:           rgb(210, 216, 217);
    #padding-top:                5px;
    #padding-bottom:             5px;
    #padding-left:               0px;
    #padding-right:              5px;
    #color:                      white;
    border-top:                 None;
    border-left:                None;
    border-right:               None;
    border-bottom:              None;#1px dotted rgb(84, 100, 107);
    #text-align:                 right;
}
._value
{
    float:                      left;
    #font-weight:                bold;
    width:                      270px;
    height:                     12px;
    #background-color:           rgb(210, 216, 217);
    #padding:                    5px;
    color:                      black;
    #border:                     1px solid rgb(84, 100, 107);
    border-top:                 None;
    border-left:                None;
    border-right:               none;
    border-bottom:              None;#1px dotted rgb(84, 100, 107);
    font-size:                  8pt;
    text-align:                 right;
}
._title
{
    font-weight:                bold;
    #background-color:           grey;
    #color:                      white !important;
    padding:                    5px;
    letter-spacing:             2px;
    float:                      left;
    
}
._unit
{
    float:                      left;
    #font-weight:                bold;
    width:                      50px;
    height:                     12px;
    #background-color:           rgb(210, 216, 217);
    #padding:                    5px;
    color:                      black;
    #border:                     1px solid rgb(84, 100, 107);
    border-top:                 None;
    border-left:                None;
    border-right:               none;
    border-bottom:              None;#1px dotted rgb(84, 100, 107);
    font-size:                  8pt;
    text-align:                 left;
    margin-left:                5px;
}
._tolerance
{
    float:                      left;
    #font-weight:                bold;
    width:                      50px;
    height:                     12px;
    #background-color:           rgb(210, 216, 217);
    #padding:                    5px;
    color:                      black;
    #border:                     1px solid rgb(84, 100, 107);
    border-top:                 None;
    border-left:                None;
    border-right:               none;
    border-bottom:              None;#1px dotted rgb(84, 100, 107);
    font-size:                  8pt;
    text-align:                 left;
    margin-left:                5px;
}

.part_summary
{
    #background-color:           rgb(101, 122, 143);
    padding-bottom:             10px;
    margin-bottom:              10px; 
    margin-top:                 15px;
    #border:                     1px solid black;
    overflow:                   auto;
    padding-top:                10px;
    border:                     1px solid black;
}

.part_summary ._thumbnail_pic
{
    float:                      left;
    background-color:           None;
    width:                      200px;
    margin-left:                10px;   
}
.part_summary ._category_container
{
    float:                      left;
    background-color:           None;
    width:                      420px;
    margin-bottom:              20px;
}



.part_summary ._field_container
{
    width:                      390px;
}
.part_summary ._key
{
    width:                      120px;
}
.part_summary ._value
{
    width:                      270px;
}

.data_tabs
{
    padding-bottom:             10px;
    margin-bottom:              50px;           
    overflow:                   auto;   
    border:                     1px solid black;
    padding:                    10px
}
.data_tabs ._menu
{
    position:                   relative;
    width:                      610px;
    margin-bottom:              30px; 
}
.data_tabs ._menu ._item
{
    float:                      left;
    font-weight:                bold;
    background-color:           rgb(84, 100, 107);
    color:                      white !important;
    padding:                    5px;
    letter-spacing:             2px;
    margin-right:               3px;
}
.data_tabs ._menu ._item:hover
{
    background-color:           rgb(84, 100, 20) !important;
    cursor:                     pointer;
}
.data_tabs ._field_container
{
    width:                      445px;
    margin-left:                0px;
}
.data_tabs ._field_container ._key
{
    width:                      220px;
}
.data_tabs ._field_container ._value
{
    width:                      100px;
}
.data_tabs ._field_container ._unit
{
    width:                      20px;
}
.data_tabs ._field_container ._tolerance
{
    width:                      50px;
}
.data_tabs ._category_container
{
    margin-bottom:              100px;
    
}
.data_tabs ._category_container ._title
{
    width:                      455px;
    
}

.asset_summary_container
{
    #background-color:           rgb(101, 122, 143);
    padding-bottom:             10px;
    margin-bottom:              10px;           
    #border:                     1px solid black;
    overflow:                   auto;
    padding-top:                50px;
}
.asset_summary_container ._id
{
    position:                   absolute;
    top:                        20px;
    font-weight:                bold;
    #background-color:           rgb(84, 100, 107);
    padding:                    5px;
    color:                      rgb(230, 230, 230);
    font-size:                  14pt;
    padding:                    10px;
}
.asset_summary_field
{
    float:                      left;
    margin-left:                10px;
    margin-top:                 3px;
    width:                      300px;
    color:                      black;
    background-color:           rgb(210, 216, 217);
    #border:                     1px solid black;
    #padding:                    5px;
}
.asset_summary_field ._key
{
    float:                      left;
    #font-weight:                bold;
    font-size:                  8pt;
    width:                      205px;
    height:                     12px;
    background-color:           rgb(210, 216, 217);
    padding:                    5px;
    #color:                      white;
    border-top:                 None;
    border-left:                None;
    border-right:               None;
    border-bottom:              None;#1px dotted rgb(84, 100, 107);
    #text-align:                 right;
    
}
.asset_summary_field ._value
{
    float:                      left;
    #font-weight:                bold;
    width:                      75px;
    height:                     12px;
    background-color:           rgb(210, 216, 217);
    padding:                    5px;
    color:                      black;
    #border:                     1px solid rgb(84, 100, 107);
    border-top:                 None;
    border-left:                None;
    border-right:               none;
    border-bottom:              None;#1px dotted rgb(84, 100, 107);
    font-size:                  8pt;
    text-align:                 right;
}
.asset_summary_field ._title
{
    background-color:           rgb(84, 100, 107);
    padding:                    5px;
    font-weight:                bold;
    color:                      white;
    #border-top:                 None;
    #border-left:                None;
    #border-right:               none;
    #border-bottom:              1px dotted rgb(84, 100, 107);
    font-size:                  10pt;
}


.asset_summary_buttons
{
    position:                   relative;
    top:                        -40px;
    left:                       -10px;
    right:                      0px;
    text-align:                 right;
}

.notes_container
{
    #position:                   relative;
    #background-color:           rgb(210, 216, 217);
    padding-bottom:             10px;
    margin-bottom:              50px;           
    overflow:                   auto;    
}
.note
{
    position:                   relative;
    background-color:           rgb(210, 216, 217);
    margin-bottom:              10px;
    overflow:                   auto;
    padding-bottom:             50px
}
.note ._title
{
    float:                      left;  
    padding-left:               10px;
    padding-top:                10px;
    font-weight:                bold;
}
.note ._author
{
    float:                      left;  
    padding:                    10px;
    font-weight:                bold;
}
.note ._date
{
    float:                      right;
    padding:                    10px;
    font-weight:                bold;
}
.note ._body
{
    float:                      left;
    padding:                    10px;
}
.note ._changelist
{
    float:                      left;
    width:                      400px;
    margin-left:                10px;
    
    
}
.note_buttons
{
    position:                   absolute;
    height:                     20px;
    bottom:                     15px;
    right:                      10px;
}



.comment_container
{
    float:                      left;
    overflow:                   auto;
    padding:                    10px;
}
.comment
{
    float:                      left;
    overflow:                   auto;
}
.comment ._author
{
    float:                      left;
    padding:                    none;
    width:                      100px;
}
.comment ._body
{
    float:                      left;
    overflow:                   auto;
    width:                      450px
}

.123category_container
{
    float:                      left;
    background-color:           None;
    width:                      310px;
    margin-bottom:              20px;
}