body
{
    align-items:                 center;
    font-family:                 monospace;
    font-size:                   8pt;
    background-color:            rgb(240, 240, 240);
}

button
{
    font-family:                monospace;
    font-weight:                bold;
    color:                      white;
    background-color:           rgb(84, 100, 107);
    padding:                    5px;
    border:                     none;
    height:                     24px;
    line-height:                6px;
    font-size:                  8pt;
}
button:hover
{
    font-weight:                bold;
    color:                      white;
    background-color:           teal;
    cursor:                     pointer;
}
.float_left
{
    float:                      left;
}
.float_right
{
    float:                      right;
}

a:
{
    text-decoration:            none;
    cursor:                     pointer !important;
}
a:link
{
    text-decoration:            none;
}
a:visited
{
    text-decoration:            none;
}
a:active
{
    text-decoration:            none;
}
a:hover
{
    text-decoration:            none;
}
.link_button
{
    padding:                    3px;
    margin-left:                10px;
    color:                      black;
    cursor:                     pointer;
}
.link_button:hover
{
    color:                      white;
    background-color:           black;
}
input
{
    font-family:                monospace;
}

.edited
{
    background-color:           rgb(255, 255, 175);
}

.icon
{
    font-size:                  12px;
    color:                      white;
    #padding:                    5px;
    margin-right:               3px;
}

.page
{
    position:                   relative;
    width:                      632px;
    align-self:                 center;
    margin-top:                 0px;
    margin-left:                auto;
    margin-right:               auto;
    margin-bottom:              0px;
    background-color:           white;
    padding:                    10px;
    border:                     1px solid rgb(200, 200, 200);
}

.notification
{
    position:                   fixed;
    top:                        0px;
    #width:                      632px;
    left:                       0px;
    right:                      0px;
    height:                     30px;
    margin:                     auto;
    z-index:                    100;
    padding:                    20px;
}
.notification i
{
    float:                      left;
    font-size:                  18pt;
    margin-right:               20px;
    color:                      white;
    bottom:                     0px;
}

.notification ._content
{
    #float:                      left;
    display:                    inline-block;
    color:                      white;
    padding:                    0px;
}
.notification h3
{
    font-size:                  12pt;
    font-weight:                bold;
    margin:                     0px;
    padding:                    0px;
}

.notification._good
{
    background-color:           #61b832;
}
.notification._warning
{
    background-color:           #eaaf51;
}
.notification._bad
{
    background-color:           #de4343;
}

.manf_logo
{
    font-weight:                bold;
    font-size:                  19pt;
    background-color:           rgb(84, 100, 107);
    color:                      white;
    padding:                    2px 5px 5px 5px;
}

.top_nav
{
    position:                   absolute;
    right:                      10px;
    top:                        10px;
}

.hidden
{
    visibility:                 hidden !important;
}

.context_button
{
    opacity:                    0.5;
}
.context_button:hover
{
    opacity:                    1;
    cursor:                     pointer;
}
._field_container
{
    color:                      black;
    #background-color:           rgb(210, 216, 217);
    #border:                     1px solid black;
    padding:                    5px;
    float:                      left;
    margin-left:                10px;
    margin-top:                 0px;
    margin-bottom:              -5px;
}

._key
{
    float:                      left;
    #font-weight:                bold;
    font-size:                  8pt;
    width:                      120px;
    height:                     12px;
    background-color:           transparent;
    #padding-top:                5px;
    #padding-bottom:             5px;
    #padding-left:               0px;
    #padding-right:              5px;
    #color:                      white;
    border-top:                 None;
    border-left:                None;
    border-right:               None;
    border-bottom:              None;#1px dotted rgb(84, 100, 107);
    #text-align:                 right;
}
._value
{
    float:                      left;
    #font-weight:                bold;
    width:                      270px;
    height:                     12px;
    background-color:           transparent;
    #padding:                    5px;
    color:                      black;
    #border:                     1px solid rgb(84, 100, 107);
    border-top:                 None;
    border-left:                None;
    border-right:               none;
    border-bottom:              None;#1px dotted rgb(84, 100, 107);
    font-size:                  8pt;
    text-align:                 right;
}
._title
{
    font-weight:                bold;
    #background-color:           grey;
    #color:                      white !important;
    padding:                    5px;
    letter-spacing:             2px;
    float:                      left;

}
._prefix
{
    float:                      left;
    #font-weight:                bold;
    width:                      35px;
    height:                     15px;
    background-color:           transparent;
    #padding:                    5px;
    color:                      black;
    #border:                     1px solid rgb(84, 100, 107);
    border-top:                 None;
    border-left:                None;
    border-right:               none;
    border-bottom:              None;#1px dotted rgb(84, 100, 107);
    font-size:                  8pt;
    text-align:                 right;
    margin-left:                5px;
}
._editable_effect:hover
{
    background-color:           rgb(230, 230, 250);
}
._unit
{
    float:                      left;
    #font-weight:                bold;
    width:                      35px;
    height:                     15px;
    background-color:           transparent;
    #padding:                    5px;
    color:                      black;
    #border:                     1px solid rgb(84, 100, 107);
    border-top:                 None;
    border-left:                None;
    border-right:               none;
    border-bottom:              None;#1px dotted rgb(84, 100, 107);
    font-size:                  8pt;
    text-align:                 left;
    margin-left:                5px;
}
._tolerance
{
    float:                      left;
    #font-weight:                bold;
    width:                      50px;
    height:                     12px;
    background-color:           transparent;
    #padding:                    5px;
    color:                      black;
    #border:                     1px solid rgb(84, 100, 107);
    border-top:                 None;
    border-left:                None;
    border-right:               none;
    border-bottom:              None;#1px dotted rgb(84, 100, 107);
    font-size:                  8pt;
    text-align:                 left;
    margin-left:                5px;
}

.part_summary
{
    #background-color:           rgb(101, 122, 143);
    padding-bottom:             10px;
    margin-bottom:              10px;
    margin-top:                 15px;
    #border:                     1px solid black;
    overflow:                   auto;
    padding-top:                10px;
    border:                     1px solid black;
}

.part_summary ._thumbnail_pic
{
    float:                      left;
    background-color:           None;
    width:                      200px;
    margin-left:                10px;
}
.part_summary ._category_container
{
    float:                      left;
    background-color:           None;
    width:                      420px;
    margin-bottom:              20px;
}



.part_summary ._field_container
{
    width:                      390px;
}
.part_summary ._key
{
    width:                      120px;
}
.part_summary ._value
{
    width:                      270px;
}

.data_tabs
{
    padding-bottom:             10px;
    margin-bottom:              50px;
    overflow:                   auto;
    border:                     1px solid black;
    padding:                    10px
}
.data_tabs ._menu
{
    position:                   relative;
    width:                      610px;
    margin-bottom:              30px;
}
.data_tabs ._menu ._item
{
    float:                      left;
    font-weight:                bold;
    background-color:           rgb(84, 100, 107);
    color:                      white !important;
    padding:                    5px;
    letter-spacing:             2px;
    margin-right:               3px;
}
.data_tabs ._menu ._item:hover
{
    background-color:           rgb(84, 100, 20) !important;
    cursor:                     pointer;
}
.data_tabs ._field_container
{
    width:                      445px;
    margin-left:                0px;
}
.data_tabs ._field_container ._key
{
    width:                      220px;
}
.data_tabs ._field_container ._value
{
    width:                      100px;
}
.data_tabs ._field_container ._unit
{
    width:                      50px;
}
.data_tabs ._field_container ._tolerance
{
    width:                      50px;
}
.data_tabs ._category_container
{
    margin-bottom:              100px;

}
.data_tabs ._category_container ._title
{
    width:                      455px;

}
.data_tabs ._bottom_buttons
{
    float:                      right;
    width:                      400px;

}
.data_tabs ._bottom_buttons ._item
{
    float:                      right;
    margin-left:                10px;
    padding:                    3px;

}

.prefix_select_container
{
    width:                      15px;
    overflow:                   hidden;
    float:                      left;
}
.unit_select_container
{
    width:                      25px;
    overflow:                   hidden;
    float:                      left;
    margin-left:                -5px;
}
.delete_icon
{
    color:                      red;
    cursor:                     pointer;
}
.delete_icon:hover
{
    #color:                      red;
}

.stripe_bg
{
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: -webkit-gradient(linear, left top, right bottom,
                color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
                color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
                color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
                         to(transparent));
     background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
     background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                         transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                         transparent 75%, transparent);
     background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                          transparent 75%, transparent);
     background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                          transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                           transparent 75%, transparent);
     background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
                           transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
                            transparent 75%, transparent);
    -webkit-animation: animate-bg 5s linear infinite;
    -moz-animation: animate-bg 5s linear infinite;
}

@-webkit-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg{
    from {
       background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}