<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Asset</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="../static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script>
            $(document).ready(onLoad)

            var data = JSON.parse('{{ data | safe }}')

            function onLoad()
            {
                $("#add_new_field").click(handleAddNewField);
                $(".note").hover(function(){$(".note_buttons").toggleClass("invisible")});
                $('#commit_changes').click(handleCommitChanges);
                populateParameters()
            }

            function populateParameters()
            {
                // Iterate through all fields in data array
                for (var field in data)
                {
                    // Check if the field is not private ( _ prefix)
                    if (field.charAt(0) != "_")
                    {
                        // Add a new field to the summary area
                        addNewField(field, data[field])
                    }
                }
            }

            function postToServer(data, callback)
            {
                $.ajax({type        : "PUT",
                        url         : "ajax",
                        data        : JSON.stringify(data, null, '\t'),
                        dataType    : 'json',
                        contentType : 'application/json; charset=UTF-8',
                        complete    : callback,
                        fail        : callback
                        });
            }

            function handleAddNewField()
            {
                addNewField()
            }

            function addNewField(field="Field", value="Value")
            {
                                
                var new_field = '<div class="asset_summary_field" data-modified="True"><input type="text" class="_key" value='+field+'><input type="text" class="_value" value='+value+'></div>'
                $(".asset_summary_container").append(new_field);
                
                $("#add_new_field").appendTo($(".asset_summary_container"));
            }

            function resp(r)
            {
                console.log(r);
            }

            function handleCommitChanges()
            {
                // Prepare data obj, and a keys array inside
                post_data = {}
                post_data._keys = []
                
                // Iterate function over all asset summary fields
                $(".asset_summary_field").each(function(i){
                                        
                    // Check if the summary field has been modified
                    if( $(this).data("modified") == "True" )
                    {
                        // Grab key, value from div
                        key     = $(this).children("._key").val();
                        value   = $(this).children("._value").val();
                        
                        // Add key:value to our data dict
                        post_data[key] = value;

                        // Append key to the keys list
                        post_data._keys.push(key);
                    }
                })  
                
                // Check if data obj is not empty
                if (post_data._keys.length > 0)
                {
                    // Add id to the data
                    post_data['_id'] = data["_id"];

                    // Post update to server
                    postToServer(post_data, resp);
                }
            }



        </script>
        
    </head>
    <body>
        <div class="page">
            
            <div class="asset_summary_container">
                <div class="_id">
                    <script type="text/javascript">document.write(data['_id']);</script>
                </div>
                <div class="asset_summary_buttons">
                    <button id="commit_changes"><i class="fa fa-upload icon"></i>COMMIT CHANGES</button>
                </div>

                <div id="add_new_field" class="asset_summary_field">
                    <button>
                        <i class="fa fa-plus icon"></i>
                        NEW FIELD
                    </button>
                </div>
          
            </div> <!-- asset_summary_container -->
            
            <div class="notes_container" >
                <div class="note">
                    <div class="_author">> Richard Morgan</div>
                    <div class="_date">10:34 03 Aug 2014</div>
                    <div class="_changelist">
                        <div class="_item">Build Status Unknown -> Incomplete</div>
                        <div class="_item">Priority Critical -> Low</div>
                    </div>
                    
                    <div class="note_buttons invisible">
                        <button>
                            <i class="fa fa-reply-all icon"></i>
                            REPLY
                        </button>
                    </div>
                    
                    <div class="_body">con ipsum dolor amet picanha fatback doner tenderloin meatball, chicken venison. Beef jerky porchetta, brisket tail kevin tongue swine spare ribs pork belly.
                    </div> <!-- _body -->
                    
                    <div class="comment_container">
                        <div class="comment">
                            <div class="_author">> Keil Mortimer</div>
                            <div class="_body">
                            Beef jerky porchetta, brisket tail kevin tongue swine spare ribs pork belly. Tenderloin landjaeger ham bresaola jerky, swine brisket shank. Porchetta ball tip meatloaf chuck spare ribs picanha turducken, short loin bresaola kielbasa.
                            </div>
                        </div>
                        <div class="comment">
                            <div class="_author">> Lisa Rebus</div>
                            <div class="_body">
                            Beef jerky porchetta, brisket tail kevin tongue swine spare ribs pork belly. Tenderloin landjaeger ham bresaola jerky, swine brisket shank. Porchetta ball tip meatloaf chuck spare ribs picanha turducken, short loin bresaola kielbasa.
                            </div>
                        </div>
                    </div>
                    
                </div> <!-- note -->
                  
            </div> <!-- notes_container -->

        </div> <!-- page -->        
    </body>
</html>
