
<html>
<head>
    <title>Test Google Login</title>
    <meta name="google-signin-client_id" content="{{ CLIENT_ID }}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
    
    <script type="text/javascript">
        
        /*
        $(document).ready(function()
        {
            console.log("State: {{ STATE }}");
            
            if (Google_isLoggedIn())
            {
                $(".login_text").show();
                $(".login_button").hide();
                
            }
            else
            {
                $(".login_text").hide();
                $(".login_button").show();
            }            
        })
        */
        function Google_onSignIn(googleUser) 
        {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());
            
            var auth2 = gapi.auth2.getAuthInstance();
            console.log(auth2)
            auth2.grantOfflineAccess().then(function(result){
                console.log("Grant offline access: "+result.code)
                Manf_connectServer(result.code)
                
            })
        }
        
        function Google_signOut()
        {
            gapi.auth2.getAuthInstance().signOut();
        }
        
        function Google_isLoggedIn()
        {
            return gapi.auth2.getAuthInstance().isSignedIn();
        }
        
        function Manf_disconnectServer() 
        {
            // Revoke the server tokens
            $.ajax({ type       : 'POST',
                     url        : $(location).attr('origin') + '/logout/ajax/disconnect',
                     async      : false,
                     success    : function(result) 
                                  { console.log('revoke response: ' + result); },
                     error      : function(e){Google_signOut();}
                 });
        }

        function Manf_connectServer(code)
        {
            $.ajax({ type       : 'POST',
                     url        : $(location).attr('origin') + 
                                  '/login/ajax/connect?state={{ STATE }}',
                     contentType: 'application/octet-stream; charset=utf-8',
                     success    : function(result){ console.log(result); },
                     error      : function(){ Google_signOut(); },
                     processData: false,
                     data       : code
          });

        }

        function connectServer_Callback(result)
        {
            console.log(result);
            onSignInCallback(auth2.currentUser.get().getAuthResponse())

            if (authResult['access_token'])
            {
                // The user is signed in
                this.authResult = authResult;

            } 
            else if (authResult['error']) 
            {
                // There was an error, which means the user is not signed in.
                // As an example, you can troubleshoot by writing to the console:
                console.log('There was an error: ' + authResult['error']);
            }

            console.log('authResult', authResult);        
        }

</script>
    
</head>
<body>

    <div class="g-signin2 login_button" data-onsuccess="Google_onSignIn"></div>
    <div class="login_text">Your all logged in buddy</div>

</body>

</html>
