<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Part</title>
        
        <link rel="stylesheet" href="../static/main.css">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script>
            
            var json_data = JSON.parse('{{ data | safe }}');
            
            console.log(" {{ data_obj['@part']['EPN']}} ");
            
            $(document).ready(onLoad);
            
            
            
            function onLoad()
            {                
                console.log(json_data);
                populateParameters();
                $("._value").change( function(){$(this).addClass("edited");})
            }

            function populateParameters()
            {
                /*
                // Populate part summary fields
                $('#EPN_VALUE').val(  json_data['@part']['EPN']);
                $('#DESCRIPTION_VALUE').val(json_data['@part']['DESCRIPTION']);
                $('#ID_VALUE').val(json_data['_id']);
                $('#MANUFACTURER_VALUE').val(json_data['@part']['MANUFACTURER']);
                $('#MPN_VALUE').val(json_data['@part']['MPN']);
                $('#APPROVAL_VALUE').val(json_data['@part']['APPROVAL']);
                */
                
                /*
                // Iterate through all fields in electrical specs
                for (var item in data['@electrical'])
                {
                    var $div = $("<div>", {class="data_tabs _category_container"});
                    
                    // Check if the field is not private ( _ prefix)
                    if (field.charAt(0) != "_")
                    {
                        // Add a new field to the summary area
                        addNewField(field, data[field])
                    }
                }
                */
            }

            function postToServer(data, callback)
            {
                $.ajax({type        : "PUT",
                        url         : "ajax",
                        data        : JSON.stringify(data, null, '\t'),
                        dataType    : 'json',
                        contentType : 'application/json; charset=UTF-8',
                        complete    : callback,
                        fail        : callback
                        });
            }

            function handleAddNewField()
            {
                addNewField()
            }

            function addNewElectricalSpec(field="Field", value="Value", unit="unit", tolerance="0")
            {
                                
                var new_field = '<div class="asset_summary_field" data-modified="True"><input type="text" class="_key" value='+field+'><input type="text" class="_value" value='+value+'></div>'

                var html = '<div class="_field_container" data modified="True">' +
                           '<input type="text" class="_key" value="'+field+'">' +
                           '<input type="text" class="_value" value="'+value+'">' +
                           '<input type="text" class="_unit" value="'+unit+'">' +
                           '</div>'

                $("#ELECTRICAL_SPECS").append(html);
            }

            function addNewPhysicalSpec(field="Field", value="Value", unit="unit", tolerance="0")
            {

                var new_field = '<div class="asset_summary_field" data-modified="True"><input type="text" class="_key" value='+field+'><input type="text" class="_value" value='+value+'></div>'

                var html = '<div class="_field_container" data modified="True">' +
                           '<input type="text" class="_key" value="'+field+'">' +
                           '<input type="text" class="_value" value="'+value+'">' +
                           '<input type="text" class="_unit" value="'+unit+'">' +
                           '</div>'

                $("#PHYSICAL_SPECS").append(html);
            }

            function resp(r)
            {
                console.log(r);
            }

            function handleCommitChanges()
            {
                // Prepare data obj
                post_data = { '@part' : {}, '@electrical' : {}, '@physical' : {}, '_keys' : [] }

                // Iterate function over all asset summary fields
                $("#PART_PROPERTIES").children("._field_container").each(function(i){

                    // Check if the summary field has been modified
                    //if( $(this).children("._value").data("modified") == "True" )
                    if(1)
                    {
                        // Grab key, value from div
                        key     = $(this).children("._key").val();
                        value   = $(this).children("._value").val();
                        unit    = $(this).children("._unit").val();

                        // Add to our data dict
                        post_data['@part'][key] = value;
                    }
                });

                // Iterate function over all asset summary fields
                $("#ELECTRICAL_SPECS").children("._field_container").each(function(i){

                    // Check if the summary field has been modified
                    //if( $(this).children("._value").data("modified") == "True" )
                    if(1)
                    {
                        // Grab key, value from div
                        key     = $(this).children("._key").val();
                        value   = $(this).children("._value").val();
                        unit    = $(this).children("._unit").val();
                        
                        // Add to our data dict
                        post_data['@electrical'][key] = {'value' : value, 'unit' : unit}
                    }
                });


                $("#PHYSICAL_SPECS").children("._field_container").each(function(i){

                    // Check if the summary field has been modified
                    //if( $(this).children("._value").data("modified") == "True" )
                    if(1)
                    {
                        // Grab key, value from div
                        key     = $(this).children("._key").val();
                        value   = $(this).children("._value").val();
                        unit    = $(this).children("._unit").val();

                        // Add to our data dict
                        post_data['@physical'][key] = {'value' : value, 'unit' : unit}
                    }
                });

                console.log(post_data);

                /*
                // Check if data obj is not empty
                if (post_data._keys.length > 0)
                {
                    // Add id to the data
                    post_data['_id'] = data["_id"];

                    // Post update to server
                    postToServer(post_data, resp);
                }
                */
            }



        </script>
        
    </head>
    <body>
        
        <div class="page">
            <dif class="manf_logo">[manf]</dif>
            <div class="top_nav"> user parts boms </div>        
                <div class="part_summary">
                    
                    <img class="_thumbnail_pic"  src="../cap.jpg">
            
                    <div id="PART_PROPERTIES" class="_category_container">
                        <div class="_title" data modified="True">
                            PART PROPERTIES
                        </div>

                        <div class="_field_container" data modified="True">
                            <input type="text" class="_key" value='EPN'>
                            <input type="text" class="_value" id="EPN_VALUE" value="{{data_obj['@part']['EPN']}}">
                        </div>
                        <div class="_field_container" data modified="True">
                            <input type="text" class="_key" value='Description'>
                            <input type="text" class="_value" id="DESCRIPTION_VALUE" value="{{data_obj['@part']['DESCRIPTION']}}">
                        </div>
                        <div class="_field_container" data modified="True">
                            <input type="text" class="_key" value='ID'>
                            <input type="text" class="_value" id="ID_VALUE" value="{{data_obj['_id']}}" readonly=True>
                        </div>
                        <div class="_field_container" data modified="True">
                            <input type="text" class="_key" value='Manufacturer'>
                            <input type="text" class="_value" id="MANUFACTURER_VALUE" value="{{data_obj['@part']['MANUFACTURER']}}">
                        </div>
                        <div class="_field_container" data modified="True">
                            <input type="text" class="_key" value='MPN'>
                            <input type="text" class="_value" id="MPN_VALUE" value="{{data_obj['@part']['MPN']}}">
                        </div>
                        <div class="_field_container" data modified="True">
                            <input type="text" class="_key" value='Approval'>
                            <input type="text" class="_value" id="APPROVAL_VALUE" value="{{data_obj['@part']['APPROVAL']}}">
                        </div>
                    </div>
                </div>
            
            <div class="data_tabs" >
                <div class="_menu">
                    <div class="_item">
                        SPECFICATIONS
                    </div>
                    <div class="_item">
                        COMPLIANCE
                    </div>
                    <div class="_item">
                        DOCUMENTS
                    </div>
                    <div class="_item">
                        ALTERNATIVES
                    </div>
                    <div class="_item">
                        MARKET DATA
                    </div>
                </div>
                
                  
            <div class="_category_container">
                <div class="_title">ELECTRICAL</div>
                <div id="ELECTRICAL_SPECS" class="_field_container" data modified="True">
                    {% for parameter, data in data_obj['@electrical'].iteritems() %}
                        <div class="_field_container" data modified="True">
                            <input type="text" class="_key" value='{{ parameter|e }}'>
                            <input type="text" class="_value" value='{{ data["VALUE"]|e }}'>
                            <input type="text" class="_unit" value='{{ data["UNIT"] }}'>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="_category_container">
                <div class="_title">PHYSICAL</div>
                <div id="PHYSICAL_SPECS" class="_field_container" data modified="True">
                    {% for parameter, data in data_obj['@physical'].iteritems() %}
                        <div class="_field_container" data modified="True">
                            <input type="text" class="_key" value='{{ parameter|e }}'>
                            <input type="text" class="_value" value='{{ data["VALUE"]|e }}'>
                            <input type="text" class="_unit" value='{{ data["UNIT"] }}'>
                        </div>
                    {% endfor %}
                </div>
            </div>

                
            </div> <!-- data_tabs -->

        </div> <!-- page -->        
    </body>
</html>
